
services:
  db:
    image: postgres:17-alpine
    container_name: mindtrace-db
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  backend:
    image: shh4und/mindtrace-backend:latest  # Substitua pelo seu username no Docker Hub
    container_name: mindtrace-backend
    ports:
      - "8080:8080"
    environment:
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_DB=${POSTGRES_DB}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    image: shh4und/mindtrace-frontend:latest  # Substitua pelo seu username no Docker Hub
    container_name: mindtrace-frontend
    ports:
      - "5173:5173"  # Mantenha para dev; para produção, mude para "8000:80" se usar Nginx
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres-data: