@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";



/* Define tokens visuais globais do projeto */
:root {
	/* Novos tokens de design solicitados pelo usuario */
	--white: #ffffffff;
	--emeral: #66ce83ff; /* Ortografia fornecida pelo usuario */
	--aquamarine: #a5ffd6ff;
	--melon: #ffa69eff;
    --light-rose: oklch(71.2% 0.194 13.428);
	font-family: "Atkinson Hyperlegible Next", sans-serif;
	font-weight: 400;
}
